body {
  background: #38bbd7;
}
.clock, .time {
  font-size: 18px;
  font-weight: bold;
  display: inline;
  margin: 10px;
}

.deadline-input {
  font-size: 25px;
  margin: 5px;
}

.stopwatch {
  background: #38bbd7;
  padding: 15px;
}

.time {
  border: solid #454545 2px;
  padding: 5px;
  border-radius: 7px;
}
