body {
  background: #38bbd7;
}
.clock, .time {
  font-size: 18px;
  font-weight: bold;
  display: inline;
  margin: 10px;
}

.deadline-input {
  font-size: 25px;
  margin: 5px;
}

.stopwatch {
  background: #38bbd7;
  padding: 15px;
}

.time {
  border: solid #454545 2px;
  padding: 5px;
  border-radius: 7px;
}

@keyframes moving-button {
    0% { transform: translateY(0); }
    50% { transform: translateY(0.35em); }
    100% { transform: translateY(0); }
}

.github-button {
  position: fixed;
  margin: 2em;
  bottom: 0;
  left: 0;
  animation: moving-button 1.5s ease-in-out infinite;
  zIndex: 6;
}
